branches:
  only:
  - master
language: python
cache:
  pip: true
  directories:
  - $HOME/virtualenv/python2.7.12/lib/python2.7/site-packages
  - $HOME/virtualenv/python2.7.12/bin/
dist: trusty
sudo: required
group: edge
os:
- linux
python:
- 2.7
install:
- scripts/travis_install_mcore.sh
- scripts/travis_install_z3.sh
- scripts/travis_install_r2.sh
script:
- scripts/travis_test.sh
